
.text-conainer{
    margin-top: 80px;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 17px;
}

.info {
    margin-top: 10px !important;
}

.info-player {
    margin-bottom: 30px !important;
    text-align: center;
}

.btn {
    color: white;
    border-radius: 5px;
    margin-left: 70px;

}

.level {
    margin: 5px 0px;
}

.des {
    font-size: larger;
    font-style: italic;
    margin: 8px;
    text-align: center;
}

.button1 {
    margin-left: 10px;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;

}

.welcome-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 16px;
}

.welcome-text {
    font-size: 1.125rem;
    margin-bottom: 16px;
}

.welcome-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 16px;
}

.game-instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

.game-instructions-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.instructions-title {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.instructions-description {
    font-size: 1.125rem;
    margin-bottom: 16px;

}

.instruction-step {
    margin-top: 16px;
    font-size: 20px;

}

.instructions-list {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 16px;
}

.tips-title {
    margin-top: 16px;

}

.game-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game-image {
    border-radius: 8px;
    height: 192px;
    object-fit: cover;
}