.footer {
  color: rgb(250, 250, 250);
  padding: 50px 0;
  background-color: rgba(24, 24, 24, 0.95);
  text-align: center;
}

.footerContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footerLeft, .footerMiddle, .footerRight {
  flex: 1;
  min-width: 280px;
  margin: 10px;
  text-align: center;
}

/* Contact Info */
.contact {
  font-size: 0.9rem;
  color: #ddd;
  margin: 5px 0;
}

.contact a {
  color: #ff9800;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.socialIconsRow {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.socialIcon {
  border-radius: 50%;
  transition: transform 0.3s;
}

.socialIcon:hover {
  transform: scale(1.1);
}


.footerLink {
  display: block;
  color: #f3f2f2;
  text-decoration: none;
  margin: 5px 0;
}

.footerLink:hover {
  color: #ffffff;
  text-decoration: underline;
}

.newsletterForm {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.newsletterForm input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 60%;
  outline: none;
}

.newsletterForm button {
  padding: 10px 15px;
  border: none;
  background-color: #ff9800;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.newsletterForm button:hover {
  background-color: #e68900;
}

.footerBottom {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #555;
  color: #faf5f5;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .footerContainer {
    flex-direction: column;
    align-items: center;
  }
}
