.main-container {
    width: 100%;
    padding: 20px 0;
    margin-bottom: 17px;
}

.board-section {
    color: #030303;
    text-align: center;
}

.section-title {
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-item {
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    border: 2px solid #444;
    border-radius: 12px;
    font-size: 32px;
    font-weight: bold;
    color: #222;
    cursor: grab;
    transition: all 0.2s ease-in-out;
}

.card-item:active {
    cursor: grabbing;
    transform: scale(0.95);
}

.card-item:hover {
    background: #e0e0ff;
    border-color: #3a3a8c;
}

.status-message {
    margin-top: 20px;
    font-size: 18px;
}

.action-button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(100, 100, 100, 0.6));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    margin-left: 10px;
}

.action-button:hover {
    background-color: #374151;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    background-color: #d4d3d3;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: black;
}

.info-content {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.info-title {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.info-text {
    font-size: 1.09rem;
    margin-bottom: 16px;
    text-align: justify;
    margin-left: 10px;
}

.info-heading {
    margin-top: 16px;
    font-size: 20px;
    margin-bottom: 16px;
    border-left: 4px solid #2980b9;
    padding-left: 12px;
}

.board-grid {
    display: grid !important;
    grid-template-columns: repeat(3, 90px) !important;
    gap: 8px !important;
    justify-content: center !important;
}