
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-bottom: 20px;
}

.register-box {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(100, 100, 100, 0.6));
  padding: 20px;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #d1cece;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  color: #d1cece;
  text-align: left;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #333;
  color: #d1cece;
  transition: background-color 0.3s ease;
}

.input:focus {
  background-color: rgba(235, 226, 226, 0.2);
}

.password-wrapper {
  position: relative;
}

.password-input {
  padding-right: 40px; /* Padding for the eye icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #d1cece;
}

.button {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.9), rgba(100, 100, 100, 0.6));
  color: #d1cece;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.text-center {
  color: #d1cece;
  margin-top: 20px;
}

.or {
  color: #d1cece;
  margin: 20px 0;
}

.link {
  color: #d1cece;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: #d1cece;
  font-size: 0.9rem;
}


.text-white {
  color: #d1cece;
  margin-top: 10px;
  font-style: italic;
  
}
